*{padding: 0px; margin: 0px;}
body{margin: 0px; padding: 0px;}

.header{background-color: #21243d;height: 60px;}
.header .menubar{}
.header .menubar ul{margin-top:2%;}
.header .menubar ul li{display: inline-block; color: #ffffff; margin-left: 10%;}
.header .menubar ul li a{color: white; list-style-type: none; text-decoration: none;}
.header a{color:  #ffffff; float: right; margin-top: 7%; }


.main_area{height: 800px; width:auto;background: url(../img/b-1.png); background-repeat: no-repeat; padding: 0px; margin-bottom: -4px; background-size: cover;}
.main_area h1{font-size: 100px; font-weight: bold; color: white; margin-top: 30%; margin-left: 10%;}
.main_area p{color:#ffffff; margin-left: 10%; margin-top: 7%;}
.main_area a{color:#ffffff; margin-left: 10%; margin-top: 1%; background-color: #21243d; border-radius: 20px; display: block; width: 170px; text-align: center; padding: 7px 7px; text-decoration: none; }


.next_area{height: 800px; background-color: #21243d;position: relative;overflow: hidden;}
.next_area h1{color: white; font-weight: bold; text-align: center; padding-top: 102px;}
.next_area p{color: #ffffff; text-align: center; margin-top: 2%;}
.next_area .crd{margin-left: 5%;}
.next_area .crd img{border-radius: 200px; margin-left: 40px; margin-top: 100px;}
.next_area .crd h2{color:white; text-align: center;margin-top: 20px; margin-left: 20px;}
.next_area .crd p{color:#ffffff; text-align: center;margin-top: 5px; margin-left: 20px;}


.next_area .shapeOne{margin-left: 110px; margin-top: 180px;position: absolute;}
.next_area .shapetwo{position: absolute; right: 0;top: -30px;}
.next_area .shapethree{position: absolute; margin-top: 504px;}
.next_area .shapefour{position: absolute; margin-top: -20px; margin-left: 264px;}
.next_area .shapefive{position: absolute; right: 0; margin-top: 694px;}
.next_area .shapesix{position: absolute; right: 0; margin-top: 332px;}

.order_area{background-color: #ffd17e; height: 800px;}
.order_area .shape7{margin-left: 150px; margin-top: 125px; position: absolute;}
.order_area .shape8{margin-left: 770px; margin-top: 130px; position: absolute;}
.order_area .shape9{right: 0; margin-top: 20px; position: absolute; margin-right: 20px;}
.order_area .shape10{right: 0; margin-top: 570px; position: absolute;}
.order_area .shape11{margin-top: 590px; margin-left: 40px; position: absolute;}
.order_area .img{margin-left: -150px; margin-top: 200px;}

.order_area .ordr{margin-top: 350px;}
.order_area h1{font-size: 60px; font-weight: bold; color: #21243d; margin-top: 30%; margin-left: 10%;}
.order_area p{color:#21243d; margin-left: 10%; margin-top: 7%;}
.order_area a{color:#ffffff; margin-left: 10%; margin-top: 2%; background-color: #21243d; border-radius: 20px; display: block; width: 180px; height: 40px; text-align: center; padding: 7px 7px; text-decoration: none; }

.sat_area{height: 800px; background-color: #21243d;position: relative;overflow: hidden;}

.sat_area .shapeOne{margin-left: 250px; margin-top: 180px;position: absolute;}
.sat_area .shapetwo{position: absolute; right: 0;top: 60px; margin-right: 80px;}
.sat_area .shapethree{position: absolute; margin-top: 700px; margin-left: 570px;}
.sat_area .shapefour{position: absolute; margin-top: 40px; margin-left: 250px;}
.sat_area .shapefive{position: absolute; right: 0; margin-top: 700px; margin-right: 100px;}
.sat_area .shapesix{position: absolute; right: 0; margin-top: 680px; margin-right: 500px; }

.sat_area h1{color: white; font-weight: bold; text-align: center; padding-top: 102px;}
.sat_area p{color: #ffffff; text-align: center; margin-top: 2%;}

.sat_area .num{margin-top: 10%; margin-left: 5%;}
.sat_area .num h1{margin-top: -330px; text-align: center; margin-left: 100%; font-weight: bold;font-size: 70px;}
.sat_area .num h2{ color:white;margin-top: -10px; text-align: center; margin-left: 100%; font-weight: bold;font-size: 50px;}


.order_rev{background-color: #ffd17e; height: 800px; }
.order_rev .shape7{margin-left: 740px; margin-top: 40px; position: absolute;}
.order_rev .shape8{margin-left: 100px; margin-top: 130px; position: absolute;}
.order_rev .shape9{right: 0; margin-top: 570px; position: absolute; margin-right: 10%;}
.order_rev .shape10{right: 0; margin-top: 100px; position: absolute;margin-right: 18%;}
.order_rev .shape11{margin-top: 600px; margin-left: 600px; position: absolute;}
.order_rev .img{margin-left: -84px; margin-top: 210px;}

.order_rev .ordr{margin-top: 330px; margin-left: -240px;}
.order_rev h1{font-size: 100px; font-weight: bold; color: #21243d; margin-top: 30%; margin-left: 10%;}
.order_rev p{color:#21243d; margin-left: 10%; margin-top: 1%;}
.order_rev a{font-weight: bold;font-size: 20px;color:#ffffff; margin-left: 10%; margin-top: 2%; background-color: #21243d; border-radius: 30px; display: block; width: 230px; height: 50px; text-align: center; padding: 7px 7px; text-decoration: none; }


.frazier{height: 800px; background: url(../img/b-3.png); background-size: cover; margin-top: -10px;}
.frazier .profile{padding-top: 20%;}
.frazier .profile img{margin-left: 40%;}
.frazier .profile p{padding-top: 2%; color: white; text-align: center; font-size: 40px;}
.frazier .profile h2{padding-top: 2%; color: white; text-align: center; font-size: 40px; font-weight: bold;}



.subscribe{background-color: #ffd17e; height: 800px;}
.subscribe .shape7{margin-left: 50px; margin-top: 100px; position: absolute;}
.subscribe .shape8{margin-left: 100px; margin-top: 700px; position: absolute;}
.subscribe .shape9{right: 0; margin-top: 570px; position: absolute; margin-right: 10%;}
.subscribe .shape10{right: 0; margin-top: 100px; position: absolute;margin-right: 18%;}
.subscribe .shape12{right: 0; margin-top: 30px; position: absolute;margin-right: 0px;}
.subscribe .shape11{margin-top: 600px; margin-left: 750px; position: absolute;}
.subscribe h1{font-size: 100px; font-weight: bold; color: #21243d; padding-top: 15%; text-align: center;}
.subscribe p{color:#21243d;  margin-top: 1%; font-size: 30px; text-align: center;}

.subscribe .ordr input{width: 50%; height: 60px; border-radius: 100px; font-size: 20px; margin-left: 15%; margin-top: 5%;}
.subscribe .ordr input[type="submit"]{width: 20%; height: 60px; border-radius: 100px; font-size: 30px; text-align: center; margin-left: -60px; background-color: #21243d; color:white;}


.end{height: 800px; background-color: #111111;  padding-top: 10%;}
.end .ses1{margin-left: 13%;}
.end .ses1 h2{color: white;}
.end .ses1 p{color: white; margin-top: 3%;}
.end .ses1 ul{}
.end .ses1 ul li{list-style-type: none; display: inline-block;}
.end .ses1 ul li a {
    background-color: white;
    display: block;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 50px;
}
.end .ses1 ul li a i.myfb{padding: 5px 5px;}

.end .ses2{ margin-left: 10%;}
.end .ses2 h2{color: white;}
.end .ses2 h6{color: white; padding-top: 3%;}
.end .ses2 ul{}
.end .ses2 ul li{list-style-type: none;}
.end .ses2 ul li a{ text-decoration: none;}

.end .ses3{ margin-left: 10%;}
.end .ses3 h2{color: white;}
.end .ses3 h6{color: white; padding-top: 3%;}
.end .ses3 ul{}
.end .ses3 ul li{list-style-type: none;}
.end .ses3 ul li a{ text-decoration: none;}

.end .ses4{ margin-left: 10%;}
.end .ses4 h2{color: white;}
.end .ses4 h6{color: white; padding-top: 3%;}
.end .ses4 ul{}
.end .ses4 ul li{list-style-type: none;}
.end .ses4 ul li a{ text-decoration: none;}